<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/soo</property>
		<property name="hibernate.connection.username">soo</property>
		<property name="hibernate.connection.password">soo</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>

		<mapping class="ar.edu.unju.fi.soo.model.Vehicle" />
		<mapping class="ar.edu.unju.fi.soo.model.Client" />
		<mapping class="ar.edu.unju.fi.soo.model.Plan" />
		<mapping class="ar.edu.unju.fi.soo.model.PlanRegular" />
		<mapping class="ar.edu.unju.fi.soo.model.Plan7030" />
		<mapping class="ar.edu.unju.fi.soo.model.Fee" />
	</session-factory>
</hibernate-configuration>
